.bg-blue-light {
  background-color: #2bd1ff;
}

.bg-red-light {
  background-color: #ff6d6d;
}

.font-bold {
  font-weight: 700;
}

.mr-2 {
  margin-right: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.rounded {
  border-radius: 0.25rem;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9);
}

.text-white {
  color: #fff;
}

.text-sm {
  font-size: 0.875rem;
}
